<div class="card mt-5">
  <div class="card-header">
    <div class="col-md-8 col-sm-45 float-left">
      <h3>Lista de Tarefas</h3>
    </div>
    <div class="col-md-4 col-sm-12 float-right">
      <button class="btn-primary float-right" (click)="newTask()">+ Nova Tarefa</button>
    </div>
  </div>
</div>

<div class="col-md-2 col-sm-12 float-right">
  <div class="flex-row-reverse bd-highlight mb-2">
    <div class="p-2 bd-highlight">
      <select (change)="onTableSizeChange($event)" class="custom-select">
        <option *ngFor="let size of tableSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="table-responsive-sm table-sm table-striped">
  <table class="table">
    <thead>
      <tr>
        <td style="width: 5%">#</td>
        <td style="width: 15%">Status</td>
        <td style="width: 20%">Título</td>
        <td style="width: 30%">Descrição</td>
        <td style="width: 15%">Inclusão</td>
        <td style="width: 15%">Ação</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasklist | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              }; let i = index;"
          [ngStyle]="{'background': i % 2 == 0 ? '#73c7af' : '#ffffff'}">
        <td class="text-right"><span>{{ task.id }}</span></td>
        <td>
          <div class="d-inline-flex mr-2">
            <div class="checkbox">
              <label for="checkboxes-0">
                <input (click)="setStatus(task)" [checked]="isChecked(task)" type="checkbox" name="checkboxes" id="checkboxes-0">
              </label>
            </div>
          </div>
          <div class="d-inline-flex">
            <span [ngStyle]="{'color':task.color }">{{ task.status }}</span>
          </div>
        </td>
        <td><span>{{ task.titulo }}</span></td>
        <td><span>{{ task.descricao }}</span></td>
        <td><span>{{ task.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss'}}</span></td>
        <td>
          <button class="btn-danger btn-sm mr-1" (click)="deleteTask(task.id)">Excluir</button>
          <button class="btn-primary btn-sm" (click)="editTask(task.id)">Alterar</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr></tr>
    </tfoot>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls
      responsive="true"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>

</div>

<div class="card">
  <div class="card-footer"></div>
</div>


