<div class="card col-md-8 col-sm-12 mt-5 mx-auto">
  <div class="card-header">
    <legend>Tarefa</legend>
  </div>

  <div class="card-body">
    <form class="form-horizontal" [formGroup]="formTask" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="form-group">

          <div class="col-md-12">
            <label>Título</label>
            <input name="titulo" type="text" placeholder="Título" class="form-control input-md" formControlName="titulo">

            <div class="alert alert-danger col-md-12" *ngIf="f.titulo.invalid && (f.titulo.dirty || f.titulo.touched)">
              <div *ngIf="f.titulo.errors.required">Título é obrigatório.</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <label>Descricao</label>
            <input name="descricao" type="text" placeholder="Descrição" class="form-control input-md" formControlName="descricao">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <label>Status</label>
            <select class="form-control input-md" formControlName="status" name="status">
              <option [ngValue]="null">Select one...</option>
              <option *ngFor="let type of taskStatus | keyvalue" [ngValue]="type.value">{{type.value}}</option>
            </select>

            <div class="alert alert-danger col-md-12" *ngIf="f.status.invalid && (f.status.dirty || f.status.touched)">
              <div *ngIf="f.status.errors.required">Status é obrigatório.</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-sm-12">
            <label>Data Abertura</label>
            <input name="dataCriacao" type="text" class="form-control input-md" formControlName="dataCriacao" disabled>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-sm-12">
            <label>Data Finalização</label>
            <input name="dataConclusao" type="text" class="form-control input-md" formControlName="dataConclusao" disabled>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <button name="Gravar" type="submit" class="btn btn-success mr-2 mt-2" [disabled]="!formTask.valid">Gravar</button>
            <button name="Cancelar" (click)="onCancel()" class="btn btn-danger mr-2 mt-2">Cancelar</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
